<br>
<aside class="right-sidebar">

  <div class="widget">
    <form class="form-search">
      <input placeholder="Pesquise algo..." type="text" class="input-medium search-query">
      <button type="submit" class="btn">Pesquisar</button>
    </form>
  </div>

  <div class="widget">
    <h5 class="widgetheading">Últimos posts</h5>
    <ul class="recent">
      <% @latest_posts.each do |post| %>
      <li>
        <img src="http://iweb-studio.com/wrapbootstrap/flattern/img/dummies/blog/65x65/thumb1.jpg" class="pull-left" alt="" />
        <h6><%= link_to post.title, blog_post_path(post) %></h6>
        <p>
          <%= simple_format(truncate post.full_text, length: 80) %>
        </p>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="widget">
    <h5 class="widgetheading">Categorias</h5>
    <ul class="cat">
      <% @categories.each do |category| %>
      <%= content_tag :li do %>
      <i class="icon-angle-right"></i>
      <%= link_to category.name, blog_root_path(slug: category.slug) %>
      <%= content_tag :span, "(#{category.posts.count})" %>
      <% end %>
      <% end %>
    </ul>
  </div>
  <div class="widget">

    <%= content_tag :h5, "Parceiros", class: "widgetheading" %>
    <%= link_to (image_tag "http://www.golivery.com.br/assets/logo-f85e8bdd6046c499b653ebf3d5d76396.png", size: "200x200"), "http://golivery.com.br", target: "_blank" %>

    <%= content_tag :h5, "Desenvolvido por", class: "widgetheading" %>
    <%= link_to (image_tag "http://jovemprogramador.com/assets/designa-0ccf2466f8e84c010b2fc76b05685b3b.png", size: "100x100"), "http://designa.com.br", target: "_blank" %>

  </div>
</aside>