<div class="row">

  <div class="span8">
    <div class="posts">

      <% @posts.each do |post| %>
      <div class="entry">
        <h2><%= link_to post.title, blog_post_path(post)  %></h2>
        <div class="meta">
          <i class="icon-calendar"></i> <%= l(post.created_at) %> <i class="icon-user"></i> <%= post.author %> <i class="icon-folder-open"></i> <a href="#"><%= post.show_categories %></a> 
        </div>
        <%= simple_format(truncate(post.content, length: 500)) %>
        <div class="button"><%= link_to "Leia mais", blog_post_path(post)  %></div>
      </div>
      <% end %>

    </div>
  </div>                        
  <div class="span4">
    <%= render "blog/shared/sidebar" %>
  </div>
</div>