<div class="row">
  <div class="well span3">
    <%= simple_form_for :login do |f| %>
      <%= f.input :email, label: false, placeholder: "Email" %>
      <%= f.input :password, label: false, placeholder: "Password" %>
      <%= f.submit "Login", class: "btn pull-right" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span3">
    <%= link_to "â† Back to DesignaBlog!", :root %>
  </div>
</div>