<div class="container featurette">

  <%= link_to (image_tag "designa.png", :class => "featurette-image-mini pull-right"), "http://www.designa.com.br", target: "blank" %>
  <h2 class="featurette-heading">Social, <span class="muted">Colaborativo.</span></h2>
  <p class="lead">O <strong>Jovem Programador</strong> é um projeto social, sem fins lucrativos, criado pela <strong> <%= link_to "Designa", "http://www.designa.com.br", target: "blank" %></strong> e tem o objetivo de complementar o aprendizado dos alunos de computação na área de programação de computadores (desenvolvimento de sistemas) e prepará-los para o mercado de trabalho.</p>
  <p class="lead">Esta iniciativa tem um apelo totalmente prático, onde os alunos passarão por várias experiências de aprendizado, estimulando a colaboração entre os participantes para potencializar o aprendizado.</p>

  <hr class="featurette-divider">

  <%= link_to (image_tag "imasters.png", :class => "featurette-image-mini pull-right"), "http://www.imasters.com.br", target: "blank" %>
  <h2 class="featurette-heading">Padrinho <span class="muted"> de peso.</span></h2>
  <p class="lead">Temos o orgulho de ter como padrinho a <strong> <%= link_to "iMasters", "http://www.imasters.com.br", target: "blank" %></strong>. Com uma comunidade aberta de 300 mil profissionais, nos ajudará a levar o projeto <strong>Jovem Programador</strong> para todos os cantos do país.</p>

  <hr class="featurette-divider">

  <h2 class="featurette-heading">Mais que um curso, <span class="muted"> uma cultura!</span></h2>
  <p class="lead">Nós queremos espalhar o projeto <strong>Jovem Programador</strong> para todo o Brasil. Criar uma cultura de aprendizado onde todos podem aprender e ensinar o próximo. Uma corrente do bem!</p>

  <hr class="featurette-divider">

  <h2 class="featurette-heading">Seja um <span class="muted"> voluntário</span></h2>
  <p class="lead">Se você deseja colaborar com o projeto de alguma forma: dando aulas, ministrando palestras, gravando vídeo aulas, escrevendo artigos, ou algo que não esteja discriminado aqui, <strong>entre em contato conosco: </strong><%= link_to "jovemprogramador@designa.com.br", "mailto:jovemprogramador@designa.com.br" %></p>

</div>


