 

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "examples/slide-01.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Jovem Programador</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>
        </div>

        <div class="item">
            <%= image_tag "examples/slide-02.jpg"%>  
            <div class="container">
            <div class="carousel-caption">
              <h1>Aprenda a programar de forma diferente!</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "examples/slide-03.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Descubra como Programar pode mudar sua vida.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->





    <div class="container marketing">

      <!-- Para colocar botões, usar a class 'btn' -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Aprenda com todos</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Raciocínio lógico</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2> Conheça as ferramentas </h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

        </div><!-- /.span4 -->
      </div><!-- /.row -->
	<hr>
      <div class="video">
      	  <h2 class="featurette-heading featurette-divider">Conheça o Projeto <span class="muted"> Jovem Programador</span></h2>
<iframe width="70%" height="480" src="http://www.youtube.com/embed/QDmt_t6umoY" frameborder="0" allowfullscreen></iframe>
      </div>
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" >

      <div class="featurette">
        

        <%= image_tag "examples/pc2.png", :class => "featurette-image pull-right" %>
        <h2 class="featurette-heading">Pensar antes de fazer, <span class="muted">vai exercitar sua mente.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag "examples/problemas.png", :class => "featurette-image pull-left" %>
        <h2 class="featurette-heading">Usar a ferramenta adequada, <span class="muted"> ajudará a resolver os problemas de forma mais fácil.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
      <%= image_tag "examples/win.png", :class => "featurette-image pull-right" %>
        <h2 class="featurette-heading">Participar com vontade <br><span class="muted"> te fará vencer!</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr>
 
      <!-- /END THE FEATURETTES -->


     