<%= render "carousel" %>

<div class="container marketing">
  <div class="row">
    <div class="span4">
      <%= image_tag "aprenda-com-todos.png" %>
      <h2>Aprenda com todos</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

    </div>
    <div class="span4">
      <%= image_tag "raciocinio-logico.png" %>
      <h2>Raciocínio lógico</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

    </div>
    <div class="span4">
      <%= image_tag "conheca-as-ferramentas.png" %>
      <h2> Conheça as ferramentas </h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="video">
    <h2 class="featurette-heading featurette-divider">Conheça o Projeto <span class="muted"> Jovem Programador</span></h2>
    <iframe width="70%" height="480" src="http://www.youtube.com/embed/QDmt_t6umoY" frameborder="0" allowfullscreen></iframe>
  </div>

  <hr class="featurette-divider">
    <div class="featurette">
      <%= image_tag "pensar-antes-de-fazer.png", :class => "featurette-image pull-right" %>
      <h2 class="featurette-heading">Pensar antes de fazer, <span class="muted">vai exercitar sua mente.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <%= image_tag "usar-a-ferramenta-adequada.png", :class => "featurette-image pull-left" %>
      <h2 class="featurette-heading">Usar a ferramenta adequada, <span class="muted"> ajudará a resolver os problemas de forma mais fácil.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
    <%= image_tag "participar-com-vontade.png", :class => "featurette-image pull-right" %>
      <h2 class="featurette-heading">Participar com vontade <br><span class="muted"> te fará vencer!</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr>

    <!-- /END THE FEATURETTES -->



