<div class="container featurette">
  <h2 class="featurette-heading">Seja um <span class="muted">parceiro</span></h2>
  <p class="lead">O projeto <strong>Jovem Programador</strong> é uma iniciativa da <%= link_to "Designa", "http://designa.com.br", :target => "_blank" %> e da <%= link_to "iMasters", "http://imasters.com.br", :target => "_blank" %> mas procuramos parceiros para potencializar este projeto. Se <strong>você</strong> pode nos ajudar de alguma forma, deixe-nos saber. Envie um e-mail para: <%= link_to "jovemprogramador@designa.com.br", "mailto:jovemprogramador@designa.com.br" %></p>

  <hr class="featurette-divider">

  <h2 class="featurette-heading">Veja nossos <span class="muted">parceiros</span> atuais</h2>
  <%= link_to (image_tag "fapi.png", class: "image-maintainer"), "http://www.fapi.br", target: "blank" %>

  <hr class="featurette-divider">

  <%= render "maintainer" %>
</div>



