<div class="page-header">
  <%= content_tag :h1, "Posts" %>
</div>
<div class="row">
  <div class="span10">
    <%= link_to "New Post", :admin_new_post, class: "pull-right btn" %>
  </div>
</div>
<table class="table table-condensed">
  <tr>
    <%= content_tag :th, "#" %>
    <%= content_tag :th, "Title" %>
    <%#= content_tag :th, "Introduction" %>
    <%= content_tag :th, "Author" %>
    <%= content_tag :th, "Published at" %>
    <%= content_tag :th, "Categories" %>

    <%= content_tag :th, "Remove" %>
  </tr>

<% @posts.each do |post| %>
    <tr>
    <%= content_tag :td, post.id %>
    <%= content_tag :td, (link_to post.title, admin_edit_post_path(post)) %>
    <%#= content_tag :td, simple_format(truncate(post.full_text, length: 100)), width: "300" %>
    <%= content_tag :td, post.user.name %>
    <%= content_tag :td, post.created_at.to_formatted_s(:short), width: 100%>
    <%= content_tag :td, show_post_categories(post) %>
    <%= content_tag :td, (link_to "Remove", admin_delete_post_path(post)) %>
  </tr>
<% end %>
</table>