<div class="page-header">
  <%= content_tag :h1, "Categories" %>
</div>
<div class="row">
  <div class="span10">
    <%= link_to "New Category", :admin_new_category, class: "pull-right btn" %>
  </div>
</div>

<table class="table">
  <tr>
    <%= content_tag :th, "Category name" %>
    <%= content_tag :th, "Description" %>
    <%= content_tag :th, "Slug" %>
    <%= content_tag :th, "Number of posts" %>
    <%= content_tag :th, "Edit" %>
  </tr>
  <% @categories.each do |category| %>
  <tr>
    <%= content_tag :td, category.name %>
    <%= content_tag :td, category.description %>
    <%= content_tag :td, category.slug %>
    <%= content_tag :td, category.posts.count %>
    <%= content_tag :td, (link_to "Edit", admin_edit_category_path(category))  %>
  </tr>
  <% end %>
</table>