<div class="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <%= link_to "Designa", :root, class: "logo" %>
        </div>
      </div>
      <div class="span8">
        <ul class="nav nav-pills pull-right">
          <%= content_tag :li, (link_to "Home", :root), class: is_active?(:root) %>
          <%= content_tag :li, (link_to "About", :about),class: is_active?(:about) %>
          <%= content_tag :li, (link_to "Contact", nil) %>
          <%= content_tag :li, (link_to "Admin", :admin_root) %>
        </ul>
      </div>
    </div>
  </div>
</div>