<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Jovem Programador - Designa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar-wrapper navbar-fixed-top" id="menu">
    <div class="navbar ">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="brand" href="/">Jovem Programador</a>

          <div class="nav-collapse collapse">
            <ul class="nav">
              <%= content_tag :li, :class => ('active' if action_name == 'index' && controller_name == 'welcome') do %>
                <%= link_to "Home", root_path  %>
              <% end %>

              <!-- <%= content_tag :li, :class => ('active' if action_name == 'about' && controller_name == 'welcome') do %> -->
                <!-- <a href="sobre">Sobre</a> -->
              <!-- <% end %> -->

              <%= content_tag :li, :class => ('active' if action_name == 'inscription' && controller_name == 'welcome') do %>
               <a href="inscricoes">Inscrições</a>
              <% end %>

              <%= content_tag :li, :class => ('active' if action_name == 'partners' && controller_name == 'welcome') do %>
                <a href="parceiros">Parceiros</a>
              <% end %>

              <%= content_tag :li, :class => ('active' if action_name == 'contact' && controller_name == 'welcome') do %>
               <a href="contato">Contato</a>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= yield %>

  <div class="container-narrow">
    <footer>
      <p class="pull-right"><a href="#">Ir para o Topo</a></p>
      <p>&copy; 2013 <%= link_to "Designa", "http://designa.com.br", :target => "_blank" %></p>
    </footer>
  </div>

</body>
</html>
