<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Jovem Programador - Designa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "blog", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "blog/shared/header" %>
  <%= render "blog/shared/navbar" %>
  <div class="content blog">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <%#= render "blog/shared/social" %>
  <%= render "blog/shared/footer" %>
</body>
</html>

