<!DOCTYPE html>
<html>
<head>
  <title>..:: Designa Blog ::..</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "blog", :media => "all",:"data-turbolinks-track" => "" %>
  <%= javascript_include_tag "application", :"data-turbolinks-track" => "" %>
  <%= csrf_meta_tags %>
</head>
<body <%= body_id_and_class %>>
  <%= render 'layouts/header' %>
  <%#= render 'home/jumbo' %>
  <div class="row-fluid">
    <div class="span8">
      <%= yield %>
    </div>
    <div class="span4">
      <%= render 'blog/shared/sidebar' %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>